
$body-bg: whitesmoke;

$line-height-base:            1.75 !default;
$line-height-sm:              1.5 !default;
$line-height-lg:              2.5 !default;

$input-btn-padding-y: .375rem;
$input-btn-padding-x: .75rem;

$border-width: 2px;
